.body {
  padding: 30px 0;
  display: flex;
}

.itemPageContent {
  box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 6%);
  padding: 20px;
  border-radius: 5px;
  margin: 0 15px;
}

.left {
  text-align: left;
  flex-grow: 10;
}

.l-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  color: rgb(0, 0, 0);
}

.l-note {
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);

  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.l-choose-t {
  padding: 0 20px 15px 0;
}

.l-choose-b {
  display: flex;
}

.radio {
  margin: 10px;
  color: gray;
}

.radio input {
  margin-right: 5px;
}

.drink {
  margin: 10px;
  padding-bottom: 20px;
  border-radius: 7px;
  box-shadow: 0px 9px 18px 0px rgb(0 0 0 / 8%);
}

.drink img {
  height: 130px;
  border-radius: 7px 7px 0 0;
}

.drink p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 10px 0;
}
.addOns-title {
  padding: 0 20px;
}

.addOns-title h3 {
  font-weight: bold;
  font-size: 30px;
  margin: 0 10px;
}

.add-on {
  display: flex;
  width: 520px;
  padding: 15px 20px;
  font-weight: bold;
  box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 6%);
  margin: 0 0 30px 0;
}

.add-on img {
  height: 120px;
  width: 200px;
  border-radius: 7px;
  margin: 0 10px 0 0;
}

.addOnText {
  width: 100%;
}

.text {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.text h6 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
  min-height: 70px;
}

.space {
  margin: 0 5px;
}

.num-bought {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.right {
  text-align: left;
  flex-grow: 2;
}

.selec {
  color: gray;
}

.bill h3 {
  font-weight: bold;
  font-size: 23px;
}

.total {
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 20px 10px 0;
  font-weight: 700;
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(185, 185, 185);
  font-size: 19px;
  font-weight: bold;
  padding: 20px 10px;
}

.quantity p {
  margin: 0;
}

.quan {
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .body {
    flex-direction: column;
  }
  .bill {
    padding: 30px 30px;
  }
  .add-on {
    width: 100%;
  }
}
