@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.bar-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* menu */

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
}

.menu-content {
  color: black;
  display: flex;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.menu-content a {
  text-decoration: none;
}

.list-style {
  padding: 15px 30px;
  margin: 0 1px;
  color: black;
  text-decoration: none;
}

.list-style:hover {
  color: white;
  background: black;
}

/* active */

.active {
  background-color: black;
}

.active div {
  color: white;
}
/* cart style */

.cart-icon-style {
  color: grey;
  font-size: 23px;
}

.cart-style {
  padding: 15px 30px 13px;
}

.login-style {
  padding-left: 15px;
  font-size: 12px;
  position: relative;
  color: red;
}

/* scroll style */

.isScroll {
  position: fixed;
  top: 0;
  z-index: 3;
  left: 0;
  right: 0;
  background-color: white;
}

.style-img-bar-logo {
  padding-bottom: 10px;
}

/* icon */

.cancel-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 33px;
}

/* Login Bar */

.login-bar {
  width: 80px;
  height: 30px;
  position: absolute;
  list-style: none;
  background-color: white;
  font-size: 13px;
  padding: 3px 7px;
  margin: 5px 0;
  text-align: left;
  z-index: 1;
  border: 1px solid gray;
  border-radius: 3px;
}

.cart {
  position: relative;
}

.itemCart {
  position: absolute;
  font-size: 10px;
  color: white;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 1px 0 0 3px;
}
