@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.bar-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* menu */

.menu {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #f8f8f8;
}

.menu-contain {
  position: relative;
  display: flex;
  justify-content: center;
  width: max-content;
  margin: auto;
  background: #f8f8f8;
}

.menu-content {
  color: black;
  display: flex;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.menu-content a {
  text-decoration: none;
}

.list-style {
  padding: 15px 30px;
  margin: 0 1px;
  color: black;
  text-decoration: none;
}

.list-style:hover {
  color: white;
  background: black;
}

/* active */

.active {
  background-color: black;
}

.active div {
  color: white;
}
/* cart style */

.cart-icon-style {
  color: grey;
  font-size: 23px;
}

.cart-style {
  padding: 15px 30px 13px;
}

.login-style {
  padding-left: 15px;
  font-size: 12px;
  position: relative;
  color: red;
}

/* scroll style */

.isScroll {
  position: fixed;
  top: 0;
  z-index: 3;
  left: 0;
  right: 0;
  background-color: white;
}

.style-img-bar-logo {
  padding-bottom: 10px;
}

/* icon */

.cancel-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 33px;
}

/* Login Bar */

.login-bar {
  width: 80px;
  height: 30px;
  position: absolute;
  list-style: none;
  background-color: white;
  font-size: 13px;
  padding: 3px 7px;
  margin: 5px 0;
  text-align: left;
  z-index: 1;
  border: 1px solid gray;
  border-radius: 3px;
}

.cart {
  position: relative;
}

.itemCart {
  position: absolute;
  font-size: 10px;
  color: white;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 1px 0 0 3px;
}

.bar-logo-icon {
  display: none;
}

@media (max-width: 800px) {
  .bar {
    height: 82px;
  }
  .bar-logo-icon {
    display: inline;
    font-size: 30px;
  }
  .style-img-bar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 5px 30px;
  }

  .menu-contain {
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    display: none;
    background-color: white;
  }

  .bar-style {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: flex-start;
    z-index: 3;
  }

  .cart-style {
    text-align: left;
  }

  .itemCart {
    text-align: center;
  }

  .isScroll {
    position: relative;
  }

  .menu-content {
    flex-direction: column;
    text-align: left;
  }
  .list-style {
    margin: 0;
  }
}
