@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
.card{
    display: flex;
    flex-direction: column;
    width: 225px;
    background-color: white;
    padding: 10px 15px 30px;
    color: black;
    text-align: left;
}

img{
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

h5{
    font-size: 17px;
    margin: 20px 0 10px 0;
    font-family: 'Source Sans Pro', sans-serif;
}

p{
    margin: 0;
}

ul{
    padding: 0 25px;
    margin: 0;
    color: gray;
    width: 190px;
    overflow: hidden;
}

.show-text{
    height: 60px;
    min-height: 60px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.show-list{
    height: 133px;
}

.price{
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
}

li{
    font-size: 14px;
}

button{
    padding: 5px 2.5px;
}

.all-button{
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px 17px;
    margin: 20px 10px 0 5px;
    font-family: 'Source Sans Pro', sans-serif;
}

.red{
    border-color: #e61038;
    background-color: #e61038;
    color: white;
}

.img{
    display: flex;
    justify-content: center;
}

.img img {
    width: 15px;
    transition: transform 0.5s;
    margin: 10px 0 0;
}

.rotate img{
    transform: rotate(-180deg);
}