@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
.slider-style {
  display: flex;
  justify-content: center;
}

.product-item {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.type-menu {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}

.bigorder_app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bigorder_app img {
  width: 500px;
  padding: 0 15px 20px;
}
